:root {
    --nav-height: 30px;
    --footer-height: 30px;

    --background-color: white;
    --primary-color: rgb(151, 77, 78);
    --secondary-color: #e0e3ee;
    --text-color: black;
    --input-background-color: #e0e3ee;

    --success: #abff94;
}

@font-face {
    font-family: 'Josefin Slab';
    src: url('./Josefin_Slab/JosefinSlab-VariableFont_wght.ttf');
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Slab', Times, 'Times New Roman', serif;
    letter-spacing: .5px;
}

body {
    font-size: 16px;
}

nav {
    height: var(--nav-height);
    width: 100%;
    background-color: var(--primary-color);
    line-height: var(--nav-height);
    padding-left: 10px;
    font-weight: bold;
    color: var(--secondary-color);
}

main {
    height: calc(100lvh - var(--nav-height) - var(--footer-height));
    background-color: var(--background-color);
    background-image: url('./pattern.svg');
    background-repeat: repeat;
    background-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: var(--input-background-color);
    border: 1px solid var(--text-color);
    border-radius: 2px;
    font-weight: 800;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

h1,
#about {
    margin-bottom: 12px;

}
#log {

}

.tooltip-text {
    display: inline-block;
    position: relative;
    border-bottom: 2px dotted var(--text-color);
}

.tooltip {
    visibility: hidden;
    width: 100px;
    height: fit-content;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 2px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px #000000;
    vertical-align: top;
    top: -20px;
    left: calc(100% + 10px);

    img {
        width: 100%;
    }
}

.tooltip-text:hover .tooltip {
    visibility: visible;
    transition-delay: .5s;
    transition-property: visibility;
}

.tooltip-text:hover::after .tooltip {
    transition-delay: 0s;
    transition-property: visibility;
}


#content-container {
    background-color: var(--background-color);
    padding: 16px;
    max-width: 800px;
    margin: 0;
    display: flex;
    flex-flow: row;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(151, 77, 78, 0.1);
    gap: 16px;
}


#input-container,
#results-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#data-input {
	margin-bottom: 16px;
}

#data-input, #scanner-session-id {
    height: 24px;
    width: 100%;
}

#scanner-status {
	display: none;
}

#log-container {
    margin-top: auto;
    font-size: 12px;
}

.output-container:not(:last-child) {
    margin-bottom: 12px;
}

.output-div {
    width: 100%;
    height: 24px;
    padding: 2px;
    background-color: var(--input-background-color);
    border: 0px solid var(--text-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    transition-property: background-color;
    transition: .8s;
}

.output-div:hover {
    transition-property: background-color;
    transition: 0s;
}

input,
.data-output,
.data-output * {
    font-family: 'Courier New';
    font-weight: 800;
    font-size: 14px;
}

.string-chunk {
    margin-right: 8px;
}

footer {
    height: var(--footer-height);
    width: 100%;
    background-color: var(--input-background-color);
    line-height: var(--nav-height);
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
    color: var(--text-color);
}

@media (max-width: 900px) {
    #content-container {
        flex-flow: column;
        max-width: calc(100% - 30px);
    }

    #input-container,
    #results-container {
        width: 100%;
    }
}